@font-face {
    font-family: "NPSFont";
    src: url("/fonts/NPSfont_bold.ttf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

/* Tailwind 기본 설정 적용 */
html {
    font-family: "NPSFont", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* button style */
    .border-primaryMid-button {
        @apply border-[1px] px-3 py-1 text-h5 border-primaryMid rounded-full text-primaryMid w-fit
    }
    .border-gray1-button {
         @apply border-[1px] px-3 py-1 text-h5 border-gray1 rounded-full text-gray5 w-fit
    }
    .bg-primary-button {
        @apply rounded-full px-4 py-2 bg-primary text-white text-h5
    }
    .bg-gray3-button {
        @apply rounded-full px-4 py-[6px] bg-gray3 text-white text-h5 w-fit
    }
    .bg-primaryMid-button {
        @apply rounded-full px-4 py-[6px] bg-primaryMid text-primaryLight text-h5 w-fit
    }
    .bg-gray1-button {
        @apply rounded-full px-3 py-[6px] bg-gray1 text-gray5 text-h5 w-fit
    }
    .bg-black-button {
        @apply rounded-[8px] px-4 py-1 bg-black text-white text-h5
    }
}

@layer components {
    /* tag style */
    .bg-secondary-tag {
        @apply py-1 px-3 rounded-full text-h5 text-primary w-fit bg-secondary
    }
    .bg-blue-tag {
        @apply py-1 px-3 rounded-full text-h5 text-black w-fit bg-[#D8EAFF]
    }
    .bg-point-tag {
        @apply py-1 px-3 rounded-full text-h5 text-white w-fit bg-point
    }
    .bg-primaryMid-tag {
        @apply py-1 px-3 rounded-full text-h5 text-white w-fit bg-primaryMid
    }
    .bg-gray0-tag {
        @apply py-1 px-3 rounded-full text-h5 text-gray5 w-fit bg-gray0
    }
}

@layer components {
    /* 목표 설정 content className */
    .goal-setting-content {
        @apply rounded-[16px] bg-gray0 py-3 px-4 w-full
    }
}
